<p>artista works!</p>
<app-loading *ngIf="loadingArtist"></app-loading>
<div class="row animated fadeIn"  *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artista.images |noimage" alt="" class="img-circle img-thumbnail " >
    </div>
    <div class="col">
        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                ir a la pagina del artista
            </a>
        </p>
    </div>
    <div class="col-4 txt-right">
        <button routerLink="/search" class="btn btn-outline-danger">
            regresar
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of toptTracks let i=index" >
                    <td>{{i}}</td>
                    <td>
                        <img [src]="item.album.images | noimage" alt="" class="img-thumb">
                    </td>
                    <td>{{item.album.name}}</td>
                    <td>{{item.name}}</td>
                    <td>
                       <!-- // spotify:track:31wHBHqj66GhV4qXXl1MdI -->
                        <!-- <audio [src]= "item.preview_url" controls></audio> -->
                        <!-- <iframe [src]="item.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                    </td> -->
                        <iframe [src]="item.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>